<html>

<head>
  <title>
    New Message
  </title>
</head>

<body>
  <form method="POST" action="/new">
    <label for="message">Message:</label>
    <input type="text" id="message" name="messageText" />
    <label fore="user">Username:</label>
    <input type="text" id="user" name="userName">
    <button type="submit" value="Submit">Submit</button>
  </form>
</body>

</html>